<%= provide(:title, 'Sign in') %>

<div class="center hero-unit">
  <h1>Sign in</h1>

	<div class="row signin">
		<div class="span4 offset3">
		<%= form_tag (sessions_path) do %>
		
		  	<%= label_tag :email_or_username %>
			<%= text_field_tag :email_or_username, params[:email_or_username] %>
			
			<%= label_tag :password %>
			<%= password_field_tag :password, params[:password]%>

			<%= submit_tag 'Sign in', :class => "btn btn-large btn-primary" %>
		<% end %>
		
		<p>New user? <%= link_to "Sign up now!", signup_path %></p>
		
	  </div>
	</div>
</div>


	