<%= provide(:title, 'Sign in') %>

<div class="center">
  <h1>Sign in</h1>

	<div class="row signin span5 offset5">
		<%= form_tag (sessions_path) do %>
		
			<%= text_field_tag :email_or_username, params[:email_or_username], placeholder: "username or email" %>
			
			<%= password_field_tag :password, params[:password], placeholder: :password%>

			<%= submit_tag 'Sign in', :class => "btn btn-large btn-primary" %>
		<% end %>
		
		<p>New user? <%= link_to "Sign up now!", signup_path %></p>
	</div>
</div>


	