<%= provide(:title, 'Sign in') %>
<div>
	<div class="brand">
		<img src="assets/landingpage/logo-sw.png" alt="one spark">
	</div>
	<div class="login">
		<h1>Sign in</h1>

		<% unless flash.empty? %>
			<% flash.each do |key, value| %>
			<!-- <button class="close_alert" data-dismiss="alert">×</button> -->

			<%= content_tag(:div, value, id: 'error_explanation') %>
			<% end %>
		<% end %>

		<%= form_tag (sessions_path) do %>

			<%= text_field_tag :email_or_username, params[:email_or_username], placeholder: "username or email", :class => "login_text" %>
		
			<%= password_field_tag :password, params[:password], placeholder: :password, :class => "login_text" %>

			<%= submit_tag 'Sign in', :class => "login_button" %>
			
		<% end %>
		
		<p class="login_helper">
			New user? <%= link_to "Sign up now!", signup_path %>
		</p>
	</div>
</div>
	