<%= provide(:title, "Edit #{@milestone.title}") %>

<div class="container-fluid">
  <div class = "span10 offset1">
    <% if @project %>
      <h1><%= @project.title %></h1> 
        

      <ul class="nav nav-pills">
        <li><%= link_to "Dashboard", project_path(@project) %></li>
        <li><%= link_to "Coworkers", project_coworkers_path(@project) %></li>
        <li  class="active"><%= link_to "Milestones", project_milestones_path(@project) %></li>
        <li><%= link_to "Files", "project_files_path(@project)" %></li>
        <li><%= link_to "Repositories", "project_repositories_path(@project)" %></li>
        <li><%= link_to "Dialogs", "project_dialogs_path(@project)" %></li>
      </ul>
      <hr class="soften"/>

        <div class="row-fluid">
        <h2>Edit: "<%= @milestone.title %>"</h2>

         <div class="pull-right">
          	<%= link_to "Back", project_milestone_path(@project, @milestone) %>
  			</div>
  		<div style="width:360px">
			<%= render  'form' %>
		</div>
        </div>

      <br/>
      <br/>
      
    <% end %>
  </div>
</div>	

