<%= provide(:title, @milestone.title) %>

<div class="container-fluid">
  <div class = "span10 offset1">
    <% if @project %>
      <h1><%= @project.title %></h1> 
        

      <ul class="nav nav-pills">
        <li><%= link_to "Dashboard", project_path(@project) %></li>
        <li><%= link_to "Coworkers", project_coworkers_path(@project) %></li>
        <li  class="active"><%= link_to "Milestones", project_milestones_path(@project) %></li>
        <li><%= link_to "Files", "project_files_path(@project)" %></li>
        <li><%= link_to "GitHub", project_github_repository_path(@project) %></li>
        <li><%= link_to "Dialogs", "project_dialogs_path(@project)" %></li>
      </ul>
      <hr class="soften"/>

        <div class="row-fluid">
          <h2><%= @milestone.title %></h2>
         <div class="pull-right">
          	<%= link_to "Edit", edit_project_milestone_path(@project, @milestone) %> |
  				<%= link_to "Delete", project_milestone_path(@project, @milestone), :confirm => 'Are you sure?', :method => :delete %> |
  				<%= link_to "View All", project_milestones_path %>
  			</div>
  			<h5>Due: <%= format_date_long @milestone.due_date unless @milestone.due_date.nil? %></h5>
  			<br/>
  			<h5>Goal</h5>
  			<p><%= @milestone.goal %> </p>
  			<br/>	
  			<h5>Description</h5>
  			<p><%= @milestone.desc %> </p>
  			<br/>
  			<h5>Created by <%= @milestone.user.username %></h5>
        </div>
      
    <% end %>
  </div>
</div>