<%= provide(:title, @milestone.title) %>
<%= provide(:active, 'milestones') %>

<!-- ///////////////////////////////////SIDEBAR2//////////////////////////////////////////-->
<div class="sidebar sidebar2">
	<div id = "toolHead" class="head">
		<h3>Milestones</h3>
	</div>

	<div class="scroll-pane jspScrollable tools">
		
				<%= link_to new_project_milestone_path(@project) do %>
					<div class="tool add" >Add Milestone</div>
				<% end %>

			<%= link_to project_milestones_path(@project) do %>
				<div class="tool">All Milestones</div>
			<% end %>

			<% for milestone in @milestones %>
				<%= link_to project_milestone_path(@project, milestone) do %>
					<% if milestone == @milestone %>
						<div class="tool active"><%= milestone.title %></div> 
					<% else %>
						<div class="tool"><%= milestone.title %></div> 
					<% end %>
				<% end %>
			<% end %>
	</div>
</div>

<!-- ///////////////////////////////////CONTENT//////////////////////////////////////////-->
<div class="content">
	<div id = "contentHead" class="head">
		<h3><a href="#add" class="tk-ff-meta-serif-web-pro"><%= @milestone.title %></a></h3>

		due:<%= @milestone.due_date %>
		desc:<%= @milestone.desc %>
		goal:<%= @milestone.goal %>
		created by: <%= @milestone.user.username %>

			<%= link_to "Edit", edit_project_milestone_path(@project, @milestone) %>
  		<%= link_to "Delete", project_milestone_path(@project, @milestone), :confirm => 'Are you sure?', :method => :delete %> 
			<%= link_to 'Complete', edit_project_milestone_path %>
	</div>

	<div class="scroll-pane jspScrollable">  <!-- scroll-pane jspScrollable -->

		<%= link_to new_project_milestone_task_path(@project, @milestone) do %>
			<div class="task tool" id="add">
				<p>Add Task</p>
			</div>
		<% end %>
		
		<% for task in @tasks do %>
			<div class="task">
				<h1>
					<%= task.title %>
				</h1>
				<ul>
					<li>desc: <%= task.desc %></li>
					<li>due: <%= task.due_date %></li>
					<li>assigned to: <%= task.worker ? task.worker.username  : 'none' %></li>
					<li>created by: <%= task.creator.username %></li>
				</ul>
				<%= link_to "Edit", edit_project_milestone_task_path(@project, @milestone, task) %>
  				<%= link_to "Delete", project_milestone_task_path(@project, @milestone, task), :confirm => 'Are you sure?', :method => :delete %> 
				<%= link_to 'Complete', '#' %>

				<p>
					<% if task.comments.empty? %>
					  <p>No comments to display.</p>
					<% else %>					
					  <h2><%= link_to pluralize(task.comments.size, 'comment'), project_milestone_task_comments_path(@project, @milestone, task) %></h2>
					  <% for comment in task.comments %>
					  <p>Commented by <%= comment.user.username %> at <%= format_date_long(comment.created_at) %></p>
					  <p>  <%= comment.content %></p>
					  <% end %>
					<% end %>
					</p>
					<p>
					Add Comment
				
					<%= form_for [@project, @milestone, task, task.comments.build] do |f| %>
					  <%= f.text_field :content %>
					  <%= f.hidden_field :commentable_name, value: 'task' %>
					  <%= f.hidden_field :redirect_url, value: request.fullpath %>
					  <%= f.submit %>
					<% end %>
				</p>
			
			</div>
		<% end %>

		
	</div>
</div>


