<%= form_tag controller: 'tools/github_repositories', action: 'create' do  %>
 
 
	<% @user_repositories.each do |repository| %>
	<fieldset>
 		<%= label_tag :repository,  'Repository' %>
 		<p>
 		  <%= radio_button_tag :repository, repository.name%>
 			<%= repository.name + ' - ' + repository.owner['login'] %>
 			<%= hidden_field_tag 'owner', repository.owner['login'] %> 	
 		</p>
 			</fieldset>
	<% end %>
	
 	  <fieldset>
    <%= label_tag  'Finish' %>
    <%= submit_tag %>
    <fieldset>
<% end %>
