<%= provide(:title, 'Github') %>
<!-- ///////////////////////////////////SIDEBAR2//////////////////////////////////////////-->
<div class="sidebar sidebar2">
  <div id = "toolHead" class="head">
    <h3>Github</h3>
  </div>

  <div class="scroll-pane jspScrollable tools">
    <%= render "sidebar" %>
  </div>
</div>


<!-- ///////////////////////////////////CONTENT//////////////////////////////////////////-->
<div class="content">
  <div id = "contentHead" class="head">
    <h3><a href="#add" class="tk-ff-meta-serif-web-pro"><%= @github_repository['name'] %></a></h3>
  </div>

  <div class="sidebar3_content">  <!-- scroll-pane jspScrollable -->


    <div class="element">           
      <h1>Repository overview</h1>
      <p>Desc: <%= @repo_data.description %></p>
      <p>Owner: <%= @repo_data.owner['login'] %></p>
      <p>Last push at: <%= format_date_long(@repo_data.pushed_at.to_datetime + 2.hours) %></p>

      <p>Created at: <%= format_date_short @repo_data.created_at %></p>
      <p><% number_to_human_size @repo_data.size %></p>
      <p><%= pluralize(@repo_data.watchers, 'Watcher') %></p>
    </div>
    <div class="element">           
      <h1>Recent events</h1>
    </div>
      <% if @repo_events %>
      <%= render :partial => 'tools/github_repositories/event', :collection => @repo_events %>  
      <% end %>
</div>