<%= link_to new_project_tasklist_path(@project) do %>
	<div class="tool add" >Add Tasklist</div>
<% end %>

<%= link_to project_tasklists_path(@project) do %>
	<div class="tool">All Tasks</div>
<% end %>

<% if @project.tasklists %>
	<% @project.tasklists.each do |tasklist| %>
	<%= link_to project_tasklist_path(@project, tasklist) do %>
		<% if tasklist == @tasklist %>
			<div class="tool active"><%= tasklist.title %></div> 
		<% else %>
			<div class="tool"><%= tasklist.title %></div> 
		<% end %>
		<% end %>
	<% end %>	
<% end %>
