<%= provide(:title, 'Tasklists') %>

<!-- ///////////////////////////////////SIDEBAR2//////////////////////////////////////////-->
<div class="sidebar sidebar2">
  <div id = "toolHead" class="head">
    <h3>Tasks</h3>
  </div>

  <div class="scroll-pane jspScrollable tools">
    <%= render 'sidebar' %>
  </div>
</div>

<!-- ///////////////////////////////////CONTENT//////////////////////////////////////////-->
<div class="content">
  <div id = "contentHead" class="head">
    <h3><a href="" class="tk-ff-meta-serif-web-pro">All Tasks</a></h3>
  </div>

  <div class="scroll-pane jspScrollable">

      <div class="task tool element" id="add">

        <%= render "tasks/form" %>
      </div>
      
    <% if @project.tasks.uncompleted %>
      <%= render :partial => "shared/task", :collection => @project.tasks.uncompleted %>
    <% end %>

    <% if @project.tasks.completed %>
      <%= render :partial => "shared/task_completed", :collection => @project.tasks.completed, as: :task %>
    <% end %>
  </div>
</div>