
<%= provide(:title, 'Comments') %>
<p>
<%= link_to 'Close Comments', :back %>
</p>
<%= render :partial => 'form', :locals => { :commentable => @commentable } %>

<% for comment in @comments %>
  <p class="comment_info">Commented by <%= comment.user.username %> at <%= format_date_long(comment.created_at) %></p>
  <p class ="comment_content"><%= comment.content %></p>
<% end %>


