<%= provide(:title, 'Project Coworkers') %>

<div class="container-fluid">
  <div class = "span10 offset1">
    <% unless @project.nil? %>
      <h1><%= @project.title %></h1> 
        
            <ul class="nav nav-pills">
              <li><%= link_to "Dashboard", project_path(@project) %></li>
              <li class="active"><%= link_to "Coworkers", project_coworkers_path(@project) %></li>
              <li><%= link_to "Milestones", project_milestones_path(@project) %></li>
              <li><%= link_to "Files", "files" %></li>
              <li><%= link_to "Repositories", "repositories" %></li>
              <li><%= link_to "Dialogs", "dialogs" %></li>
              </ul>
            <hr class="soften"/>
            <div class="row-fluid">
              
               <div class="span5">
                <h2>Owner</h2>
                  <div class = "profiles_list">
                    <%= image_tag "avatars/avatar.png", size: "30x30" %> <%= @project.user.username %>
                  </div>
               </div>
                
               <div class="span5">   
                <h2>Admins</h2>
                <% unless @project_admins.nil? %>
                  <div class = "profiles_list">
                    <ul>
                        <% @project_admins.each do |admin| %>
                          <li> <%= image_tag "avatars/avatar.png", size: "30x30" %>
                            <%= admin.username %> |
                            <%= link_to "Profile", profile_path(admin) %> |
                            <%= link_to "Remove", "coworkers/#{admin.username}", :confirm => 'Are you sure?', :method => :delete %>
                        <% end %>
                      </ul>                  
                  </div>
                <% end %>
               </div>
            </div>

            <div class="row-fluid">
              <div class="span5">

               <br/>
                <h2>Coworkers (write permission)</h2>
                  <% if @project_coworkers.nil? %>
                    <p>You're alone. Invite people to join your project!</p>
                  <% else %>
                    <div class="profiles_list">
                      <ul>
                        <% @project_coworkers.each do |coworker| %>
                          <li> <%= image_tag "avatars/avatar.png", size: "30x30" %>
                            <%= coworker.username %> |
                            <%= link_to "Profile", profile_path(coworker) %> |
                            <%= link_to "Remove", "coworkers/#{coworker.username}", :confirm => 'Are you sure?', :method => :delete %>
                        <% end %>
                      </ul>                  
                    </div>
                  <% end %>
               </div>

               <div class="span5"> 
                  
               <br/>
                  <h2>Coworkers (read permission)</h2>
                  <% unless @project_readers.nil? %>
                    <div class="profiles_list">
                      <ul>
                        <% @project_readers.each do |reader| %>
                          <li> <%= image_tag "avatars/avatar.png", size: "30x30" %>
                            <%= reader.username %> |
                            <%= link_to "Profile", profile_path(reader) %> |
                            <%= link_to "Remove", "coworkers/#{reader.username}", :confirm => 'Are you sure?', :method => :delete %>
                        <% end %>
                      </ul>                  
                    </div>
                  <% end %>
               </div>
            </div>
            
            <div class="row-fluid">
               <br/><br/>
               <p><h5>Add Coworker</h5></p>
               <%= render 'form' %>
            </div>

      <% end %>
   </div>
</div>