<%= provide(:title, "Coworkers") %>

<!-- ///////////////////////////////////SIDEBAR2//////////////////////////////////////////-->

<div class="sidebar sidebar2">
	<div id = "toolHead" class="head">
		<h3>Coworkers</h3>
	</div>

	<div class="scroll-pane jspScrollable tools">		
				<%= link_to (content_tag( :div, 'Add Team', class: 'tool add' )) %>

			<%= link_to (content_tag( :div, 'All Coworkers', class: 'tool add' )), project_coworkers_path(@project) %>
	</div>
</div>


<!-- ///////////////////////////////////CONTENT//////////////////////////////////////////-->
<div class="content">
	<div id = "contentHead" class="head">
		<h3><a href="#add" class="tk-ff-meta-serif-web-pro">All Coworkers</a></h3>
	</div>

	<div class="scroll-pane jspScrollable">  <!-- scroll-pane jspScrollable -->

		<div class="task tool element" id="add">
				<%= render 'form' %>
			</div>

<div class="element">
	<h1>Owner</h1>
	<div class = "profiles_list">
	  <%= render :partial => 'show_coworker', :locals => { :coworker => @project.user } %>
	</div>
</div>

<div class="element">
	<h1>Admins</h1>
	  <div class="profiles_list">
	      <%= render :partial => 'show_coworker', :collection => @project.admins, :as => :coworker %>	                 
	  </div>
</div>

<div class="element">
	<h1>Coworkers with write permission</h1>

	  <div class="profiles_list">
	      <%= render :partial => 'show_coworker', :collection => @project.writers, :as => :coworker %>	                 
	  </div>
</div>

<div class="element">
	<h1>Coworkers with read permission</h1>

	  <div class="profiles_list">
	      <%= render :partial => 'show_coworker', :collection => @project.readers, :as => :coworker %>	                 
	  </div>
</div>

</div>
