<%= provide(:title, "Coworkers") %>

<!-- ///////////////////////////////////SIDEBAR2//////////////////////////////////////////-->

<div class="sidebar sidebar2">
	<div id = "toolHead" class="head">
		<h3>Coworkers</h3>
	</div>

	<div class="scroll-pane jspScrollable tools">
		
				<%= link_to  do %>
					<div class="tool add" >Add Team</div>
				<% end %>

			<%= link_to project_coworkers_path(@project) do %>
				<div class="tool">All Coworkers</div>
			<% end %>

			
	</div>
</div>


<!-- ///////////////////////////////////CONTENT//////////////////////////////////////////-->
<div class="content">
	<div id = "contentHead" class="head">
		<h3><a href="#add" class="tk-ff-meta-serif-web-pro">All Coworkers</a></h3>
	</div>

	<div class="scroll-pane jspScrollable">  <!-- scroll-pane jspScrollable -->

		<div class="task tool" id="add">
				<%= render 'form' %>
			</div>

<div class="task">
	<h1>Owner</h1>
	<div class = "profiles_list">
	  <%= image_tag "avatars/avatar.png", size: "30x30" %> <%= @project.user.username %>
	</div>
</div>

<div class="task">
	<h1>Admins</h1>
	<% unless @project_admins.nil? %>
	  <div class = "profiles_list">
	    <ul>
	        <% @project_admins.each do |admin| %>
	          <li> <%= image_tag "avatars/avatar.png", size: "30x30" %>
	            <%= admin.username %> |
	            <%= link_to "Profile", profile_path(admin) %> |
	            <%= link_to "Remove", "coworkers/#{admin.username}", :confirm => 'Are you sure?', :method => :delete %>
	        <% end %>
	      </ul>                  
	  </div>
	<% end %>
</div>

<div class="task">
	<h1>Coworkers (write permission)</h1>
	<% if @project_coworkers.nil? %>
	  <p>You're alone. Invite people to join your project!</p>
	<% else %>
	  <div class="profiles_list">
	    <ul>
	      <% @project_coworkers.each do |coworker| %>
	        <li> <%= image_tag "avatars/avatar.png", size: "30x30" %>
	          <%= coworker.username %> |
	          <%= link_to "Profile", profile_path(coworker) %> |
	          <%= link_to "Remove", "coworkers/#{coworker.username}", :confirm => 'Are you sure?', :method => :delete %>
	      <% end %>
	    </ul>                  
	  </div>
	<% end %>
</div>
<div class="task">
	<h1>Coworkers (read permission)</h1>
	<% unless @project_readers.nil? %>
	  <div class="profiles_list">
	    <ul>
	      <% @project_readers.each do |reader| %>
	        <li> <%= image_tag "avatars/avatar.png", size: "30x30" %>
	          <%= reader.username %> |
	          <%= link_to "Profile", profile_path(reader) %> |
	          <%= link_to "Remove", "coworkers/#{reader.username}", :confirm => 'Are you sure?', :method => :delete %>
	      <% end %>
	    </ul>                  
	  </div>
	<% end %>
</div>