<% @task ||= Task.new %>
<%= form_for [@project, @task] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :tasklist_id, value: @tasklist.id if @tasklist %>

  <fieldset>
    <%= f.label :title,  'Title' %>
    <%= f.text_field :title, placeholder:"What needs to be done?", :autofocus => true, :tabindex => 2 %>
  </fieldset>
    <fieldset>
      <%= f.label :due_date,  'Due Date' %>
      <%= f.text_field :due_date, placeholder:"When is it due?", :tabindex => 3 %>
    </fieldset>
    <fieldset>
      <%= f.label :worker,  'Coworker' %>
      <% coworkers = Array.new(@project.coworkers) << @project.user %>
      <% selected = @task.worker.username if @task.worker %>
      <%= f.select :worker, options_from_collection_for_select(coworkers, 'username', 'username', selected: selected), { :include_blank => "- none -" }, :tabindex => 4  %>
    </fieldset> 

    <fieldset>
      <%= f.label :tasklist_id,  'Tasklist' %>
      <% selected = @task.tasklist.id if @task.tasklist %>
      <%= f.select :tasklist_id, options_from_collection_for_select(@project.tasklists, 'id', 'title', selected: selected), { :include_blank => "- none -" } %>
    </fieldset>

    <fieldset>
      <%= f.label :desc,  'Description' %>
      <%= f.text_area :desc, placeholder: "Wish to add further details?", :tabindex => 5 %>
    </fieldset>
    <fieldset>
    <%= f.label  'Finish' %>
    <%= f.submit :tabindex => 6%>
    <% if params[:action].eql? 'edit' or params[:action].eql? 'update' or params[:action].eql? 'create' %>
        <%= link_to 'Cancel', project_tasklists_path(@project), class: "cancelButton" %>
      <% else %>
        <a class="cancelButton">Cancel</a>
      <% end %>
  <fieldset>

<% end %>
