<%= provide(:title, @topic.title) %>

<!-- ///////////////////////////////////SIDEBAR2//////////////////////////////////////////-->
<div class="sidebar sidebar2">
  <div id = "toolHead" class="head">
    <h3>Dialogs</h3>
  </div>

    <div class="scroll-pane jspScrollable tools">    
       <%= render partial: "sidebar", locals: { active: 'show'} %>
  </div>
</div>

<!-- ///////////////////////////////////CONTENT//////////////////////////////////////////-->
<div class="content">
	<div id = "contentHead" class="head">
		<h3><a href="#add" class="tk-ff-meta-serif-web-pro"><%= @topic.title %></a></h3>
	</div>

	<div class="scroll-pane jspScrollable">  <!-- scroll-pane jspScrollable -->

		
			<div class="task tool element " id="add">
				<%= render :partial => "postings/form", :locals => { :topic => @topic } %>
			</div>	
		

    	<div class="seperator">Topic overview</div>

    	         
	      <div class="element_description element_infos">    
	      	<dl>
			      <dt>Title</dt>
			      <dd><%= @topic.title %></dd>
			    </dl>
		      <dl>
			      <dt>Created by</dt>
			      <dd><%= @topic.creator.username %></dd>
			    </dl>
			    <dl>
			      <dt>Created at</dt>
			      <dd><%= format_date_long @topic.created_at %></dd>
			    </dl>

	      	<% unless @topic.desc.eql? "" %>  
		        <dl>
		          <dt>Description</dt>
		          <dd><%= @topic.desc %></dd>
		        </dl>
		      <% end %>

		      <div class="element_settings">
    				<%= link_to "Edit topic", edit_project_topic_path(@project, @topic ) %>
						<%= link_to "Delete topic", project_topic_path(@project, @topic ), :confirm => 'Are you sure?', class: 'close_button', :method => :delete %> 
					</div>   
		     </div>

     	 	
			<% unless @topic.postings.empty? %>
    			<div class="seperator">Postings</div>
				<%= render :partial => "shared/posting", :collection => @topic.postings %>
			<% end %>
					

		
	</div>
</div>