<%= form_for(@user) do |f| %>
 <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :username %>
  <%= f.text_field :username, :autofocus => "autofocus"%>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>

	<% if params[:action].eql? "new" or params[:action].eql? "create" %>
		<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>

	<% elsif params[:action].eql? "edit" or params[:action].eql? "update"%>
	<br/>
		<%= f.submit %>
	<% else %>
		<div class="two_edit_buttons">
			<%= submit_tag("Cancel", { :name => 'reset', :id => 'reset_button', :type => "reset", :class => "btn btn-large" })%>
			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>

			
<%= debug params if Rails.env.development? %>
		</div>
	<% end %>
  <% end %>