<div id="overlay_content">

  <h1>Your settings</h1>
    
  	<div id ="account_details" %>
		<p><%= current_user.email %></P>
		<p>Member since: <%= @user.created_at.strftime('%d.%m.%Y') %></p>
		<p>Account type: Demo</p>
		<p><%= link_to "Edit account", edit_user_path(current_user.username), remote: true%></p>
	</div>


		<h2>Linked tool accounts</h2>
		<ul>

		<!-- ////// Github column ////// -->
			<li>
				<p><strong>GitHub</strong></p>
				<% if @github_account.nil? %>
					<p><%= link_to 'Add GitHub account', "/git/auth"%></p>
				<% else %>
					<p><%= link_to "View your GitHub repositories", user_github_repositories_path(current_user) %> </p>
					<p><%= link_to 'Remove GitHub account', "/git/unlink", confirm: "Be careful: Only your OneSpark sided authorisation will be deletet. Be sure to remove OneSpark in \"Authorized applications\" on GitHub.com"%>
					</p>
				<% end %>
			</li>
				

		<!-- ////// DropBox column ////// -->
			<li>
				<p><strong>DropBox</strong></p>
				<% if @db_account %>
					<%= @db_account['email'] %>
				<% else %>
				<% end %>
			</li>
		</ul>

</div>
