<div id="overlay_content">

  <h1>Your settings</h1>
    
  	<div id ="account_details" %>
		<p><%= current_user.email %></P>
		<p>Member since: <%= current_user.created_at.strftime('%d.%m.%Y') %></p>
		<p>Account type: Demo</p>
		<p><%= link_to "Edit account", edit_user_path(current_user.username), remote: true%></p>
	</div>

	<div id="linked_tools">
		
		<ul>
		<h2>Linked tool accounts</h2>
		<!-- ////// Github column ////// -->
			<li>
				<p><strong>GitHub</strong></p>
				<% if @github_account.nil? %>
					<p><%= link_to 'Add GitHub account', "/git/auth"%></p>
				<% else %>
					<p><%= link_to "View your GitHub repositories", user_github_repos_path(current_user), remote: true, :disable_with => 'loading ...' %> </p>
					<p><%= link_to 'Remove GitHub account', "/git/unlink", confirm: "BE CAREFUL: This unlinkes your GitHub account"%>
					</p>
				<% end %>
			</li>
				

		<!-- ////// DropBox column ////// -->
			<li>
				<p><strong>DropBox</strong></p>
				<% if @db_client %>
					<p>Dropbox account is linked!</p>
					<p><%= link_to 'View DrobBox account details', user_dropbox_account_path(current_user), remote: true, :disable_with => 'loading ...' %></p>
					<p><%= link_to 'Unlink DrobBox account', '/dropbox/unlink', remote: true, confirm: "BE CAREFUL: This unlinkes your DropBox account" %></p>
					
				<% else %>
					<p><%= link_to 'Add DrobBox account', user_dropbox_auth_path %></p>
				<% end %>
				
			</li>
		</ul>
	</div>

</div>
