<%= provide(:title, 'Edit user') %>

	
  <h1>Update your profile</h1>
 
  <div class="row signup">
  	<div class="span4 offset3">
	    <%= form_for(@user) do |f| %>
		  <%= render 'shared/user_error_messages' %>
	
	      <%= f.label :name %>
	      <%= f.text_field :name, :autofocus => "autofocus"%>

	      <%= f.label :email %>
	      <%= f.text_field :email %>

	      <%= f.label :password %>
	      <%= f.password_field :password %>

	      <%= f.label :password_confirmation, "Confirmation" %>
	      <%= f.password_field :password_confirmation %>

	      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
	    <% end %>
		<%= link_to "Delete your account?", current_user, method: :delete, confirm: "Are you sure? This action can NOT be undone and deletes your account on One Spark!" %>
	  </div>
	</div>
</div>