<%= provide(:title, 'Edit user') %>

<div class = "offset3">	
  <h1>Update your profile</h1>
 
  	<div class="row signup">
	  	<div class="span4">
		    <%= form_for(@user) do |f| %>
			  <%= render 'shared/error_messages', object: f.object %>
	
		      <%= f.label :name %>
		      <%= f.text_field :name, :autofocus => "autofocus"%>

		      <%= f.label :email %>
		      <%= f.text_field :email %>

		      <%= f.label :password %>
		      <%= f.password_field :password %>

		      <%= f.label :password_confirmation, "Confirmation" %>
		      <%= f.password_field :password_confirmation %>
		
		
  		<div class="two_edit_buttons ">
			<%= submit_tag("Cancel", { :name => 'reset', :id => 'reset_button', :type => "reset", :class => "btn btn-large" })%>
			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		</div>
		
	    <% end %>
		
		<%= link_to "Delete your account?", current_user, method: :delete, confirm: "Are you sure? This action can NOT be undone and deletes your account on One Spark!" %>
	</div>
	
</div>
</div>

