<% provide(:title, @user.username) %>

<div class = "container-fluid">
	<div class="row-fluid">
		<div class="span8 well">
			<div class="pull-right">
				
			</div>
	      		<h1><%= link_to @user.username, edit_user_path(@user) %></h1>
				<h5><%= @user.email %></h5>
				<hr/>
				<div class = "">
					<p><h5>Details</h5></p>
					<p>
						Member since: <%= @user.created_at.strftime('%d.%m.%Y') %><br/>
						Account type: Free user
					</p>
		  			<hr/>
				<h5>Linked Accounts</h5>
				<br/>
				<ul>
					<% if @github_account.nil? %>
						<li><%= link_to 'Authorize GitHub account', "/git/oauth2/auth"%> </li>
					<% else %>
						<li><%= link_to "Your GitHub repositories", user_path + "/git/repos" %> </li>
						<li><%= link_to 'Unlink Github account', "/git/oauth2/unlink", confirm: "Be careful: Only your OneSpark sided authorisation will be deletet. Be sure to remove OneSpark in \"Authorized applications\" on GitHub.com"%></li>
					<% end %>
				</ul>
				
			</div>
		</div>
	</div>
</div>