<% provide(:title, @user.username) %>

<% if @user == current_user %>
  <h1>Settings of <%= @user.username %></h1>
<% end %>
  <hr class="soften">
  <div class="row-fluid offset3">
    
    <div class="span4">
    	<h2>Account details</h2>
			<h5><%= @user.email %></h5> <br/>
			Member since: <%= @user.created_at.strftime('%d.%m.%Y') %><br/>
			<p>Account type: Free user</p>
			<p><%= link_to "Edit account", edit_user_path(@user.username)%></p>
		</div>
		<div class="span4">
			<h2>Linked tools</h2>
				<ul>
					<% if @github_account.nil? %>
						<li><%= link_to 'Add GitHub account', "/git/oauth2/auth"%> </li>
					<% else %>
						<li><%= link_to "View your GitHub repositories", user_path + "/git/repos" %> </li>
						<li><%= link_to 'remove Github account', "/git/oauth2/unlink", confirm: "Be careful: Only your OneSpark sided authorisation will be deletet. Be sure to remove OneSpark in \"Authorized applications\" on GitHub.com"%></li>
					<% end %>
				</ul>
		</div>
	</div>
	
	