<% provide(:title, @user.name) %>

<div class="row profile">
  <div class="span4">
    <section>
      <h1>
        <%= @user.name %>
	  </h1>
	  <p>
		<%= @user.email %>
      </p>
    </section>
  </div>
</div>
  	<%= render 'shared/activity_form' %>

	<% if @user.activities.any? %>
		<div class="activities">
			<h2>Your Activities (<%= @user.activities.count %>)</h2>
			<ol>
				<%= render @activities %>
			</ol>
		</div>
	<% end %>

