<% provide(:title, @user.name) %>

<div class = "container-fluid">
	<div class="row-fluid">
		<div class="span8 well">
			<div class="pull-right">
				
			</div>
	      		<h1><%= link_to @user.name, edit_user_path(@user) %></h1>
				<h5><%= @user.email %></h5>
				<hr/>
				<div class = "">
					<p><h5>Details</h5></p>
					<p>
						Member since: <%= @user.created_at.strftime('%d.%m.%Y') %><br/>
						Account type: Free user
					</p>
		  			<hr/>
				<h5>Linked Accounts</h5>
				<br/>
				<% if @github_account %>
				<ul>
				<li>Github account: <%= @github_account.username %> | <%= link_to 'unlink Github account', user_path + "/git/unlink" %> </li>
					<%= link_to "Test get projects", user_path + "/git/repos" %>
				<% else %>
					<%= link_to 'Link Github account', user_path + "/git/new"%> <br/>	
					<%= link_to 'Authorize Github account', "/git/oauth2/auth"%> <br/>	
					<%= link_to "Test get projects", user_path + "/git/repos" %>
				<% end %>
				</ul>
				
			</div>
		</div>
	</div>
</div>