<%= provide(:title, 'Dropbox') %>
<!-- ///////////////////////////////////SIDEBAR2//////////////////////////////////////////-->
<div class="sidebar sidebar2">
  <div id = "toolHead" class="head">
    <h3>Dropbox</h3>
  </div>

  <div class="scroll-pane jspScrollable tools">
    
    <%= link_to project_dropbox_auth_path(@project) do %>
      <div class="tool add" >Add Dropbox Account</div>
    <% end %>

    <%= link_to project_dropbox_path(@project) do %>
      <div class="tool active">/</div>
    <% end %>

    <% for folder in @folders %>
      <%= link_to "#{project_dropbox_path(@project)}/folder?folder_path=#{folder['path']}" do %>
        <div class="tool"><%= folder['path'] %></div> 
      <% end %>
    <% end %>
      
  </div>
</div>


<!-- ///////////////////////////////////CONTENT//////////////////////////////////////////-->
<div class="content" id="dropbox_content">
  <%= render :partial => 'tools/dropbox/dropbox_content', :locals => { :account_info => @account_info, :files => @files, :folders => @folders } %>
</div>