<%= provide(:title, 'Dropbox') %>

<!-- ///////////////////////////////////SIDEBAR2//////////////////////////////////////////-->

<div class="sidebar sidebar2">
  <div id = "toolHead" class="head">
    <h3>Dropbox</h3>
  </div>

  <div class="scroll-pane jspScrollable tools">
    
    <%= link_to content_tag('div', 'Add Folder', class: "tool add"),
      dropbox_add_folder_path(@project) + "?folder_path=#{@folder['path']}"
      #, remote: true
      %>

    <%= link_to content_tag('div', '/', class: "tool"),
      project_dropbox_path(@project),
      'data-disable-with' => "<div class ='tool active'>/ <small><i>requesting...</i></small></div>" 
      %>
    
    <%= render :partial => 'tools/dropbox/dropbox_sidebar', :collection => @folders, as: :folder %>
  </div>
</div>


<!-- ///////////////////////////////////CONTENT//////////////////////////////////////////-->
<div id="dropbox_content" class="content">
  <div id = "contentHead" class="head">
    <%= render :partial => 'tools/dropbox/dropbox_head', :locals => { :path => @folder['path']} %>
  </div>

  <div class="scroll-pane jspScrollable">  <!-- scroll-pane jspScrollable -->
      <div class="task tool" id="add">
        <p><%= render 'form_file' %></p>
      </div>

      <%= render :partial => 'tools/dropbox/dropbox_content', :locals => { :files => @files, :folders => @folders } %>
    
  </div>
</div>