<%= provide(:title, 'Dropbox') %>
<!-- ///////////////////////////////////SIDEBAR2//////////////////////////////////////////-->
<div class="sidebar sidebar2">
  <div id = "toolHead" class="head">
    <h3>Dropbox</h3>
  </div>

  <div class="scroll-pane jspScrollable tools">
    
    <%= link_to project_dropbox_auth_path(@project) do %>
      <div class="tool add" >Add Dropbox Account</div>
    <% end %>
    
   <!-- #link_to "#{project_dropbox_path(@project)}/folder?folder_path=/#{@folder['path'].split("/").at(-2)}" do %> -->

    <%= link_to project_dropbox_path(@project) do %>
      <div class="tool ">...</div>
    <% end %>

    <!-- Mit Query machen!! -->
    <%= link_to "#{project_dropbox_path(@project)}/folder?folder_path=#{@folder['path']}" do %>
        <div class="tool active"><%= @folder['path'] %></div> 
    <% end %>

    <% for folder in @folders %>
      <%= link_to "#{project_dropbox_path(@project)}/folder?folder_path=#{folder['path']}" do %>
        <div class="tool"><%= folder['path'] %></div> 
      <% end %>
    <% end %>
      
  </div>
</div>


<!-- ///////////////////////////////////CONTENT//////////////////////////////////////////-->
<div class="content">
  <div id = "contentHead" class="head">
    <h3><a href="#add" class="tk-ff-meta-serif-web-pro"><%= @folder['path']%></a></h3>
  </div>

  <div class="scroll-pane jspScrollable">  <!-- scroll-pane jspScrollable -->
      <div class="task tool" id="add">
        <p><%= render 'form_file' %></p>
      </div>

    <div class="task">           
      <h2>Overview</h2>
      <p>You have <%= pluralize(@folders.size, 'folder')%></p>
      <p>You have <%= pluralize(@files.size, 'files')%></p>
      <ul>
        <% for file in @files do %>
          <li><%= file['path'].split("/").last %></li>
        <% end %>
      </ul>
    </div>
    
  </div>
</div>