<div class="element posting">

	<h1 class="element_heading">
		<%= posting.title %>
	</h1>

	<div  class="element_description">	
	<dl>
		<dt>Created by</dt>
		<dd>
			<%= posting.creator.username %> 
		</dd>
		<dt>Creation date</dt>
		<dd>
			<%= format_date_long posting.created_at  %>
		</dd>
		<% unless posting.content.eql? "" %>
      		<dt>Message</dt>
      		<dd><%= posting.content %></dd>
      	<% end %>
    </dl>
    </div>


	<div class="element_settings">
	<%= link_to "Edit", edit_project_posting_path(@project, posting) %>
	<%= link_to "Delete", project_posting_path(@project, posting), :confirm => 'Are you sure?', class: 'close_button', :method => :delete %> 
	</div>

	<div class="element_comments">
		<div id="show_comments">
			<% if posting.comments %>
				<%= link_to content_tag('h2', pluralize(posting.comments.size, 'comment')), posting_comments_path(posting), remote: true %>
			<% end %>
		</div>
	</div>
	<div id="end"></div>
</div>
