<div class="element task">

	<h1 class="element_heading">
		<%= task.title %>
	</h1>

	<div  class="element_description">	
	<dl>
		<dt>Created by</dt>
		<dd>
			<%= task.creator.username unless task.creator.nil? %>
		</dd>
		<% if task.due_date %>
    	<dt>Due Date</dt>
    	<dd><%= format_date_long task.due_date %></dd>
    	<% end %>
	   	<dt>Assigned To</dt>
    	<dd><%= task.worker ? task.worker.username  : 'none' %>
    	</dd>
      	<dt>Description</dt>
      	<dd><%= task.desc %></dd>
    </dl>
    </div>


	<div class="element_settings">
	<%= link_to "Edit", edit_project_task_path(@project, task) %>
	<%= link_to "Delete", project_task_path(@project, task), :confirm => 'Are you sure?', class: 'close_button', :method => :delete %> 
	</div>

	<div class="element_comments">
		<div id="show_comments">
			<% if task.comments %>
				<%= link_to content_tag('h2', pluralize(task.comments.size, 'comment')), task_comments_path(task), remote: true %>
			<% end %>
		</div>
	</div>
	<div id="end"></div>
</div>
