<div class="task">
	<h1>
		<%= task.title %>
	</h1>
	<p>desc: <%= task.desc %></p>
	<p>due: <%= format_date_long task.due_date if task.due_date %></p>
	<p>assigned to: <%= task.worker ? task.worker.username  : 'none' %></p>
	<p>created by: <%= task.creator.username unless task.creator.nil? %></p>
	
	<% if task.comments %>
		<%= link_to pluralize(task.comments.size, 'comment'), project_task_comments_path(@project, task) %>

	<% end %>
</div>
