<div class = "ticket_form">
<%= form_for [@project, @ticket] do |f| %>
 <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title %>
  <%= f.text_field :title, :autofocus => "autofocus"%>

  <%= f.label :desc %>
  <%= f.text_area :desc %>

  <%= f.label :due_date %>
  <%= f.text_field :due_date %>

	<div class = "buttons">	
		<%= link_to "Cancel", project_path(@project), :class => "btn btn-medium" %>
		<div class = "pull-right">
		<%= submit_tag("Create ticket",  :name => 'create', :class => "btn btn-primary" )%>
		</div>
	</div>
<% end %>