<%= form_for(@project) do |f| %>
 <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title %>
  <%= f.text_field :title, :autofocus => "autofocus"%>

  <%= f.label :desc %>
  <%= f.text_area :desc %>

  <%= f.label :due_date %>
  <%= f.text_field :due_date %>
		<%= submit_tag("Cancel", { :name => 'reset', :id => 'reset_button', :type => "reset", :class => "btn btn-large" })%>
	<div class = "pull-right">
		<%= f.submit "Create project", class: "btn btn-large btn-primary" %>
	</div>
<% end %>