<%= form_for(@project) do |f| %>
 <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title %>
  <%= f.text_field :title, :autofocus => "autofocus"%>

  <%= f.label :desc %>
  <%= f.text_area :desc %>

  <%= f.label :due_date %>
  <%= f.text_field :due_date %>
		<div class = "project_buttons">	
			<%= link_to "Cancel", projects_path, :class => "btn btn-medium" %>
			<div class = "pull-right">
			<%= submit_tag("Create project",  :name => 'create', :class => "btn btn-primary" )%>
			</div>
		</div>
<% end %>