<!-- Topics -->
<div class="element single_content">
	<h1 class="element_heading"><%= headline %></h1>
	<div class="element_description">
		<dl>
			<dt>Last activities</dt>
				<% date = 1.day.from_now(@project.postings.first.created_at) rescue nil # increment the day
				    @project.postings.each do |posting| 
				      if date > posting.created_at.to_date
				      date = posting.created_at.to_date
							 %>
				        <h2 style="margin-top:0.3em"><%= format_date_short date %></h2>
				    	<% end %>
				      <p>
				        <%= format_date_long posting.created_at %> | created posting "<%= posting.title %>" by <%= posting.creator.username %> </span></a>
				    </p>

				<%  end %>
			</dt>
		</dl>
	</div>
</div>