<%= provide(:title, @project.title) %>

<div class="container-fluid">
	<div class = "span10 offset1">
		<% if @projects %>
		<h1><%= @project.title %></h1> 
			<div class="pull-right">
				<%= link_to "Edit", edit_project_path(@project) %> | 
				<%= link_to "Delete", @project, method: :delete, confirm: "Delete project: " + @project.title + " with all tickets?"  %>
			</div>
		<hr class="soften"/>
  		<% if @project.due_date %>
  		<p>
			<span class="due_date bubble"><%= format_date(@project.due_date)%></span>
		</p>
		<% end %>
		<br/>

		<p><%= @project.desc %></p>

		<br/>
		<br/>



		<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
		  <ul class="nav nav-tabs" style=" min-height:300px">
		    <li class="active"><a href="#tab1" data-toggle="tab">Dashboard</a></li>
		    <li><a href="#tab2" data-toggle="tab">Tasks</a></li>
			<li><a href="#tab3" data-toggle="tab">Dialogs</a></li>
		  </ul>
		  <div class="tab-content">
			
		    <div class="tab-pane active" id="tab1">
		      <h2>Dashboard</h2>
		    </div>
		    <div class="tab-pane" id="tab2">
		      <h2>Tasks</h2>
		    </div>
			<div class="tab-pane" id="tab3">
		      <h2>Dialogs</h2>
		    </div>
		  </div>
		</div>
		<% end %>
	</div>
</div>