<%= provide(:title, @project.title) %>

<div class="content">
	<div id = "contentHead" class="head">
		<h1><%= @project.title %></h1> 
	</div>
	<% if @project.due_date %>
		<h2>Due date: <%= format_date_long(@project.due_date)%></h2>
	<% end %>

	<% if @project.desc %>
		<h2>Description:</h2>
		<p><%= @project.desc %></p>
	<% end %>

	<%= link_to "Edit", edit_project_path(@project) %> | 
	<%= link_to "Delete", @project, method: :delete, confirm: "Delete project: " + @project.title + " with all tickets?"  %>
</div>