<%= provide(:title, @project.title) %>
<div class="container-fluid">
  <div class="row-fluid">
    

	
  <div class="span8 well show_project">
		<%= render 'shared/project_scaffold'%>
		<div class ="tickets">
			<h4>Tickets</h4>
			<ul><%= render 'tickets/all'%></ul>
			<p class ="new_ticket">
			<%= link_to new_project_ticket_path(@project) do %>
				<i class='icon-plus-sign'></i> Create new ticket...
			<% end %>
			</p>
			<hr/>
		</div>	
  </div>
	<div class="span3">
		<div class="sidebar-nav">
			<%= render 'shared/project_navigation'%>
		</div>
	</div>
  </div>
</div>