<div class = "container-fluid">
	<div class="row-fluid">
		<div class="span8 well">
			<div class="pull-right">
			<!-- right menu here -->	
			</div>
			
	      		
				<% unless @git_repos.nil?%>
					<h3>Your github.com repositories (<%= @git_repos.count %>)</h3>
					<hr/>
					<% @git_repos.each do |repo|%>
						<h5><%= link_to repo["name"], repo_path(repo)  %></h5>
						<%= debug repo["owner"]["login"]%>
						<br/>
						<p>Description: <%= repo["description"] %></p>
						<p>Last commit: <%= repo["updated_at"].to_datetime.strftime('%d.%m.%Y - %H:%M:%S') %></p>
						<p><%= link_to 'View on github.com', repo["html_url"], :target => "_blank"%></p>	
						<hr/>
						<% end %>
				<%end%>
				<%= link_to 'create new repository', user_path + "/git/repos/new"%>
				<%= debug @git_repos.first%>
				
		</div>
	</div>
</div>