<div class = "container-fluid">
	<div class="row-fluid">
		<div class="span8 well">
			<div class="pull-right">
				
			</div>
			<%= form_tag user_path + "/git/repos/create" do %>

			  	<%= label_tag "Repository name" %>
				<%= text_field_tag :repo_name, params[:repo_name] %>
	
				<%= label_tag "Repository description" %>
				<%= text_field_tag :repo_desc, params[:repo_desc]%>
				<div>
				<%= submit_tag 'Create repository', :class => "btn btn-large btn-primary" %>
				</div>
				<br/>
				<br/>
				<%= link_to 'back to repositories', user_path + "/git/repos"%>
			<% end %>
		</div>
	</div>
</div>