<div id="account">
	<ul>
		<li class="profile"><%= image_tag 'img/profil.jpg', alt: "Profilbild JoggaF" %></li>
		<li><%= image_tag 'img/acc-message.png', alt: "Your Messages" %></li>
		<li><%= image_tag 'img/acc-contact.png', alt: "Your Contacts" %></li>
		<li><%= image_tag 'img/acc-event.png', alt: "Your Events" %></li>
		<li><%= image_tag 'img/acc-logout.png', alt: "Logout" %></li>
	</ul>
	<input type=text placeholder="search"></input>
</div>