<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
	<% if signed_in? %>
      <%= link_to "One Spark", projects_path, id: "logo" %>
	<% else %>
	  <%= link_to "One Spark", root_path, id: "logo" %>
	<% end %>
	
		<nav>
			<ul class="nav pull-right">
			
			<% if signed_in? %>
				<li><%= link_to "Projects", projects_path %></li>
				<li id="fat-menu" class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
	              <ul class="dropdown-menu">
				
	                <li><%= link_to "Profile", current_user %></li>
	                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
	                <li class="divider"></li>
	                <li>
	                  <%= link_to "Sign out", signout_path, method: "delete" %>
	                </li>
	              </ul>
	            </li>
	
			<% else %>
				<li><%= link_to "Learn more!", 'more' %></li>
				<li><%= link_to "Sign In", 'signin' %></li>
				
			<% end %>
			<ul>
		</nav>
    </div>
  </div>
</header>