<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<link rel="shortcut icon" href="/favicon.ico" />
		<%= render 'layouts/shim' %>    
	</head>

	<body>
		<%= render 'layouts/header' %>

		<div class="container">
			<div class ="flash">
				<% flash.each do |key, value| %>
				<button class="close" data-dismiss="alert">×</button>	
			<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
			</div>
			<div class ="content_whrapper">
			<%= yield %>
			</div>
		</div>	

			<%= render 'layouts/footer' %>
		<div class="container">
			

			<% if Rails.env.development? %>
				<%= debug(params) %>
				<%= debug(current_user) if current_user %>		
				<pre class = "debug_dump">
					<%= "Request IP #{request.ip()}" %>
				</pre>
			<% end %>
		</div>
	</body>
</html>