<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>


</head>

<body>
	<div id="head">
		<div class="sidebar sidebar1" >
			<div id="home">
				<%= image_tag 'img/head-logo.png', alt: "One Spark Logo" %>
			</div>
			
			<div id="projectHead">
				<h3><%= @project.title %></h3>
			</div>
		</div>

		<div id = "toolHead" class="sidebar sidebar2">
			<h3>Milestones</h3>
		</div>

		<div id = "folderHead">
			<h3><a href="#add" class="tk-ff-meta-serif-web-pro"><%= yield(:title) %></a></h3>
			<%= yield(:tool_navi) %>
		</div>

		<%= render 'layouts/account' %>
	</div>

	<div id="wrapper">

		<%= yield %>
	</div>


<script type="text/javascript">

var scroll = $('.scroll-pane');
var content = $('#content');

var headHeight = $('#head').height();
var sidebarWidth = ($('.sidebar').width())*2;

console.log("Breite der Tools/ Folder: " + sidebarWidth);
// console.log("Größe Header = "+headHeight);
// console.log("Größe Footer = "+bottomHeight);

var toolheight = function(){
	var height = (($(window).height()) - headHeight).toString();
	console.log("toolHeight: "+height);
	scroll.css("height", height + "px");
};
var contentWidth = function(){
	var width = (($(window).width()) - sidebarWidth).toString();
	console.log("contentWidth: "+width);
	content.css("width", width + "px");
	content.css("float", "left");
};

var headerSpacing = function(selector){
	var s1 = $(selector);
	var s1margin = (0 - s1.height() / 2 + 2).toString();
	console.log(s1margin);
	s1.css('margin-top',s1margin+'px');
}

 $(window).ready(
 	toolheight(), 
 	contentWidth(), 
 	headerSpacing('#projectHead h3'), 
 	headerSpacing('#toolHead h3'),
 	headerSpacing('#folderHead h3')
 );


$(window).resize(function(){
	toolheight();
});
// $(window).resize(function(){
// 	contentWidth();
// });



// Scrollbar-Replacement
$(function()
{
	$('.scroll-pane').each(
		function()
		{
			$(this).jScrollPane(
				{	
					showArrows: $(this).is('.arrow')
				}
			);
			var api = $(this).data('jsp');
			var throttleTimeout;
			$(window).bind(
				'resize',
				function()
				{
					if ($.browser.msie) {
						// IE fires multiple resize events while you are dragging the browser window which
						// causes it to crash if you try to update the scrollpane on every one. So we need
						// to throttle it to fire a maximum of once every 50 milliseconds...
						if (!throttleTimeout) {
							throttleTimeout = setTimeout(
								function()
								{
									api.reinitialise();
									throttleTimeout = null;
								},
								50
							);
						}
					} else { 
						api.reinitialise();
					}
				}
			);
		}
	)

});
$(function()
{
	$('.scroll-pane').jScrollPane(
		{
			hijackInternalLinks: true,
			animateScroll: true
		}
	);
});
</script>
</body>
</html>